.ip-info-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 14px;
  max-width: 60%;
  width: 85%;
  height: 170px;
  margin: 20px auto;
  margin-bottom: 140px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.215);
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 3.5rem;
  width: 100%;
}

.separator {
  align-self: center;
  width: 1px;
  height: 100px;
  background-color: var(--darkgray);
}
.ip-info-item__title {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--darkgray);
}

.ip-info-item__value {
  font-size: 24px;
  font-weight: 500;
  color: var(--verydarkgray);
}

@media (max-width: 375px)  {
  .ip-info-container {
    flex-direction: column;
    height: 90%;
    min-width: 80vw;
    width: 100%;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: translate(-50%, -20%);
    z-index: 9999;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.215);
    text-align: center;
  }

  .info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3.5rem;
    width: 100%;
  }

  .ip-info-item__value {
    font-size: 22px;
    font-weight: 500;
    color: var(--verydarkgray);
  }
  .separator {
    display: none;
  }
}

@media (max-width: 576px) {
    .ip-info-container {
        flex-direction: column;
        height: 58%;
        min-width: 80vw;
        width: 100%;
        margin:0 auto;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transform: translate(-50%, -20%);
        z-index: 9999;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.215);
        text-align: center;
      }
    
      .info-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 3.5rem;
        width: 100%;
      }
      .ip-info-item__title {
        text-transform: uppercase;
   

      }
      
      .ip-info-item__value {
        font-size: 22px;
        font-weight: 500;
        color: var(--verydarkgray);
      }
      .separator {
        display: none;
      }
}