.ip-info-container {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  background-color: #fff;
  border-radius: 14px;
  max-width: 60%;
  width: 85%;
  height: 170px;
  margin: 20px auto;
  margin-bottom: 140px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.215);
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 3.5rem;
  width: 100%;
}

.separator {
align-self: center;
  width: 1px;
  height: 100px;
  background-color: var(--darkgray);
}
.ip-info-item__title {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--darkgray);
}

.ip-info-item__value {
  font-size: 24px;
  font-weight: 500;
  color: var(--verydarkgray);

}
