.hero-header-bg {
    width: 100%;
    background-image: url('../../../../assets/images/pattern-bg.png');
    background-size: 100%;
}

.hero-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0 80px 0px;
}

.hero-header-container__title {
    color:white;
    margin:12px 0px;
    font-size: 28px;
    font-weight: 500;
}