@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

:root {
    --darkgray: hsl(0, 0%, 59%);
    --verydarkgray: hsl(0, 0%, 17%);
}

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}